# Ignorar arquivos grandes e desnecessários
*.log
*.tmp
*.iso
*.vdi
*.ova
*.exe
*.msi

# Ignorar pastas e arquivos gerados automaticamente
node_modules/
__pycache__/
.DS_Store
Thumbs.db
.vscode/
.idea/
